<!--   File name:  content.ejs
     Student name: Man Hon Cheung
     Student ID: 301228570
     date : 8-oct-2022   -->

<!DOCTYPE html>
<html>

</head>
<header>
    <%- include ("./partials/header") %>
</header>
<link rel="stylesheet" href="../css/style.css" type="text/css">
<body>

<div id="index">
<h3>Contact Me</h3>
<p>Emial Address: mcheun63@my.centennialcollege.ca</p>
<p>Contact no : 6478791092</p>
</div>

<div id="index">
<form action="/" method="http://localhost:3000/">
<p>Username:</p><input type="text" id="username" name="username"><br/>
<p>Password:</p><input type="password" id="password" name="password"><br/>
<p>Contact Number:</p><input type="Contact Number" id="Contact Number" name="Contact Number"><br/>
<p>Email Address:</p><input type="Email Address" id="Email Address" name="Email Address"><br/>
<p>Message:</p><input type="Message" id="Message" name="Message"><br/><br/>
<input type="submit" value="submit">
</form>
</div>
</body>

<footer>
    <%- include ("./partials/footer") %>
  </footer>
</html>