
<!--   File name: services.ejs
     Student name: Man Hon Cheung
     Student ID: 301228570
     date : 8-oct-2022   -->

<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" href="../css/style.css" type="text/css">

</head>
<header>
    <%- include ("./partials/header") %>
</header>
<link rel="stylesheet" href="../css/style.css" type="text/css">
<body>

<div class="container">
  <div class="row">
  
    <div class="col-9"><h3>My srvices:</h3></div>
    <div class="col-4">I can use HTTP, CSS, JAVASCRIPT.<br><img src="img/services1.jpg" alt="Leo" srcset="img/services1.jpg 8000w" /></div>
    <div class="col-6">I can use c#, JAVA<br><img src="img/services2.jpg" alt="Leo" srcset="img/services2.jpg 6000w" /></div>
  </div>
</div>
</body>

<footer>
    <%- include ("./partials/footer") %>
  </footer>
</html>